{#
/**
 * craft-export-csv plugin for Craft CMS 3.x
 *
 * craft-export-csv Settings.twig
 *
 * @author    KFFEIN
 * @copyright Copyright (c) 2018 KFFEIN
 * @link      http://kffein.com
 * @package   CraftExportCsv
 * @since     1.0.1
 */
#}
{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("kffein\\craftexportcsv\\assetbundles\\craftexportcsv\\CraftexportcsvAsset") %} #}

{% set selectedSubnavItem = 'settings' %}
{% set title = 'settings'|t('craft-export-csv') %}
{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="craft-export-csv/settings/save-settings">
    {% if selectedExport['id'] ?? null %}
      <input type="hidden" name="settings[id]" value="{{ selectedExport['id'] }}">
    {% endif %}
    {{ redirectInput('craft-export-csv/settings') }}

    {{ forms.textField({
        label: 'name-label'|t('craft-export-csv'),
        instructions: 'name-instructions'|t('craft-export-csv'),
        id: 'name',
        name: 'settings[name]',
        value: selectedExport['name'] ?? null,
        required:true,
    })}}

    {{ forms.textField({
        label: 'numberOfRows-label'|t('craft-export-csv'),
        instructions: 'numberOfRows-instructions'|t('craft-export-csv'),
        id: 'numberOfRows',
        name: 'settings[numberOfRows]',
        size:3,
        value: selectedExport['numberOfRows'] ?? null,
    })}}

    {{ forms.selectField({
        label: 'section-handle-label'|t('craft-export-csv'),
        instructions: 'section-handle-instructions'|t('craft-export-csv'),
        id: 'siteId',
        name: 'settings[sectionHandle]',
        options: sectionsOptions,
        value: selectedExport['sectionHandle'] ?? null,
    })}}

    {{ forms.selectField({
        label: 'sites-handle-label'|t('craft-export-csv'),
        id: 'sectionHandle',
        name: 'settings[siteId]',
        options: sitesOptions,
        value: selectedExport['siteId'] ?? null,
    })}}

    {{ forms.checkboxSelectField({
        label: 'entryStatus-handle-label'|t('craft-export-csv'),
        id: 'entryStatus',
        name: 'settings[entryStatus]',
        values: selectedExport['entryStatus'] ?? ['Enabled', 'Live'],
        options: statusOptions,
    }) }}

    {{ forms.textField({
        label: 'filename-label'|t('craft-export-csv'),
        instructions: 'filename-instructions'|t('craft-export-csv'),
        id: 'filename',
        name: 'settings[filename]',
        value: selectedExport['filename'] ?? null,
        required:true,
    })}}

    {{ forms.checkboxSelectField({
        label: 'expireEntries-label'|t('craft-export-csv'),
        instructions: 'expireEntries-instructions'|t('craft-export-csv'),
        id: 'expireEntries',
        name: 'settings[expireEntries]',
        values: selectedExport['expireEntries'] ?? ['Expire exported entries'],
        options: expireEntriesOptions,
    }) }}

    {{ forms.editableTableField({
        label: 'fields-label'|t('craft-export-csv'),
        instructions: 'fields-instructions'|t('craft-export-csv'),
        id: 'fields',
        name: 'settings[fields]',
        cols: {
            name: {
                heading: 'field-name'|t('craft-export-csv'),
                type: 'text',
            },
            type: {
                heading: 'field-type'|t('craft-export-csv'),
                type: 'select',
                options: fieldTypeOptions,
            },
            value: {
                heading: 'field-value'|t('craft-export-csv'),
                type: 'text',
            }
        },
        rows: selectedExport['fields'] ?? null,
        allowAdd: true,
        allowReorder: true,
        allowDelete: true,
    })}}

    <div class="heading">
        <h1>{{ 'reports-list'|t('craft-export-csv') }}</h1>
    </div>

    {% if settings.exports is empty %}
        <hr>
        <p>{{ 'no-reports'|t('craft-export-csv') }}</p>
    {% endif %}

    <div id="reports-list" class="field">
        {% for export in settings.exports %}
            <hr/>
            <div class="flex space-between">
              <div class="flex">
                <p><a href="{{ url('craft-export-csv/settings', { id: export.id }) }}">{{ export.name }}</a></p>
                <p>{{ export.sectionHandle }}</p>
                <p>{{ export.filename }}</p>
              </div>
              <div class="flex">
                <a href="{{ actionUrl('craft-export-csv/settings/duplicate-export', { id: export.id }) }}" class="btn submit" >{{ 'duplicate'|t('craft-export-csv') }}</a>
                <a href="{{ actionUrl('craft-export-csv/settings/delete-export', { id: export.id }) }}" class="btn submit" >{{ 'delete'|t('craft-export-csv') }}</a>
              </div>
            </div>

        {% endfor %}
    </div>

    <style type="text/css">
        .flex {
          display: flex;
        }

        .space-between {
          justify-content: space-between;
        }
        #reports-list .btn{
            margin: 15px;
        }
        #reports-list p{
            margin: 21px !important;
            color: #8f98a3;
        }
        #reports-list hr{
            clear:both;
            margin: 0 0;
        }
    </style>
{% endblock %}
