{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("kffein\\craftexportcsv\\assetbundles\\craftexportcsv\\CraftExportCsvAsset") %}
{% set title  = "reports-label"|t('craft-export-csv') %}

{% block content %}
  {% if exports is defined and exports is empty%}
    <p>{{ 'no-reports'|t('craft-export-csv') }}</p>
      <a href="craft-export-csv/settings" class="btn">{{ 'configure-report'|t('craft-export-csv') }}</a>
  {% else %}
    {% for export in exports %}
      {% if export.section is defined %}
        {{ loop.index > 1 ? '<hr />'}}
        <h2>{{ 'generate-heading'|t('craft-export-csv', {sectionName: export.section.name }) }}</h2>
        <div class="reports-section">
          <div class="flex align-start">
            <p><a href="{{ url('craft-export-csv/settings', { id: export.id }) }}">{{ export.name }}</a></p>
            <div class="last-modified">
              <label for="last-modified__{{export.id}}">Last export: </label>
              <span id="last-modified__{{export.id}}">{{export.dateUpdated is defined and export.dateUpdated is not empty ? craft.exportsService.getDateUpdatedFormated(export.dateUpdated):'none'}}</span>
            </div>
          </div>
          <div class="export-button-actions">
            <a title="{{ 'generate'|t('craft-export-csv', {filename: export.filename }) }}" href="{{ actionUrl('craft-export-csv/reports/generate', { id: export.id }) }}" class="btn submit" >generate</a>
            <a title="{{ 'download'|t('craft-export-csv', {filename: export.filename }) }}" href="{{ actionUrl('craft-export-csv/reports/download', { id: export.id }) }}" class="btn submit {{ export.fileExists ?:'disabled'}}">download</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
